{{!-- Book details stub --}}
    {{#link-to 'library'}}go back{{/link-to}}

<div class="page-header">
  <h1>{{content.title}}</h1>
</div>

<ul class="book-list">
    <li>

    <h3>{{content.author}}</h3><em>({{content.year}})</em> - <h5>{{content.book_type}} - {{content.booked_at}} / {{content.return_at}}</h5>
    {{content.description}}
    <h4> status: {{status}} </h4><button {{action "book" on="click"}}>book it</button>
    </li>
</ul>