{{!-- Book details stub --}}
    {{#link-to 'library'}}go back{{/link-to}}

<div class="page-header">
  <h1>{{content.title}}</h1>
</div>

    <h3>{{content.author}}</h3><em>({{content.year}})</em><h5>{{content.book_type}} & {{content.id}}- {{content.user_id}} - {{content.booked_at}} / {{content.return_at}}</h5>
    {{content.bookDesc}}
