<div id="user-page">
<h1>{{title}} {{lastName}} {{firstName}}</h1>
<ul>
  <li><strong>Screen name:</strong> <span>{{screenName}}</span></li>
  <li><strong>Email address:</strong> <span>{{emailAddress}}</span></li>
  <li><strong>First name:</strong> <span>{{firstName}}</span></li>
  <li><strong>Middle name:</strong> <span>{{middleName}}</span></li>
  <li><strong>Last name:</strong> <span>{{lastName}}</span></li>
  <li><strong>Gender:</strong> <span>{{gender}}</span></li>
  <li><strong>Job title:</strong> <span>{{jobTitle}}</span></li>
  <li><strong>Birthday:</strong> <span>{{birthday}}</span></li>
  <li><strong>Address:</strong> <span>{{address}}</span></li>
  <li><strong>Phone number:</strong> <span>{{phoneNumber}}</span></li>
  <li><strong>Skype:</strong> <span>{{skype}}</span></li>
  <li><strong>Facebook:</strong> <span>{{facebook}}</span></li>
</ul>

{{#link-to 'users.edit' id}}edit{{/link-to}}
</div>